html{
    height: 100%;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(#7209b7,#3f37c0);
}
h1{
    padding: 10px auto;
    text-align: center;
    font-style: italic;
    color: #3f9191;
}
ul{
    display: block;
    margin: 15px auto;
}
ul li {
    display: inline-block;
    padding: 10px 20px;
    background-color: aquamarine;
    margin: 15px 10px;
}
ul li a{
    text-decoration: none;

    
}
ul li:hover{
    background-color: antiquewhite;
    
    
}
