*{
    padding: 0;
    margin: 0;
}
h1{
    padding: 10px auto;
    text-align: center;
}
ul{
    display: block;
    margin: 15px auto;
}
ul li {
    display: inline-block;
    padding: 15px auto;
    background-color: aquamarine;
}
ul li a{
    text-decoration: none;
    margin-right: 15px;
    
}
ul li:hover{
    background-color: antiquewhite;
    
    
}
